{% extends 'firefly/base.html' %}

{% block content %}
	<head>

	</head>

	<body>
		<h2>
			File formats
		</h2>
		<p>
			The data needs to be in the format of either an ascii or fits file. Firefly can process a single ascii file or multiple fits files per job submission. You cannot mix file types.</p>
		<p>
			<b>Ascii</b> files must consist of two columns, wavelength and flux. The user will then have to manually input values for redshift, velocity dispersion, right ascension and declination. Error is assumed to be 10% of the flux. Can only process one spectrum per job submittion.
		</p>

		<p>
			<b>Fits</b> files are the prefered file type. Firefly currently accepts two formats, standard SDSS which contains a single spectra , or as a fits table containing multiple spectra. Below you can find how each are formatted and download an example. You can upload multiple fits file of either the two formats.
		</p>

		<h3>SDSS</h3>
		<p><a href="{% url 'firefly:download' location='example' job_id=0  %}"> Click here </a> to download an example SDSS specta.</p>

		<p>
			<b>HDUL0</b>
			<br>
			{% for i in header0 %}
				{{i}}
				<br>
			{% endfor %}
		</p>
		<p>
			<b>HDUL1</b>
			<br>
			{% for i in header1 %}
				{{i}}
				<br>
			{% endfor %}
		</p>
	</body>

{% endblock %}