{% extends 'firefly/base.html' %}

{% block content %}
	<head>

	</head>

	<body>
		<h2>
			Accepted file formats
		</h2>

		{% for example in example_data %}

			<h3>{{example.title}}</h3>

			<p>
	    		{{ example.description|safe}}
			</p>

			<p>
				<a href="{% url 'firefly:download' location='example' job_id=example.example_id  %}"> Download</a> example file.
			</p>

			{% ifequal example.file_type ".fits" %}

				<button id = "button{{example.example_id}}" onclick="hide_show_headers('{{example.example_id}}')">
					Show headers
				</button>

				<div id = "{{example.example_id}}">

					<h4>Header0</h4>

					{% for i in example.header_list0 %}
						{{i}}
						<br>
					{% endfor %}

					<h4>Header1</h4>

					{% for i in example.header_list1 %}
						{{i}}
						<br>
					{% endfor %}

			</div>

			{% endifequal %}

		{% endfor %}

		<script type="text/javascript">
			for(var i = 0; i < {{example_data|length}}; ++i) {

				try {
					document.getElementById(i).style.display = "none"; 
				}
				catch {

				}
			}

			function hide_show_headers(id) {

				var name = "button" + id

				if (document.getElementById(id).style.display == "none") {
					document.getElementById(id).style.display = "";
					document.getElementById(name).innerHTML = "Hide headers";
				}
				else if (document.getElementById(id).style.display == "") {
					document.getElementById(id).style.display = "none";
					document.getElementById(name).innerHTML = "Show headers";
				}
			}
		</script>

	</body>



{% endblock %}