{% extends 'firefly/base.html' %}

{% block content %}
	<head>
	  <link rel="stylesheet" type="text/css" href = "/static/firefly/tooltip.css" />
	  <link rel="stylesheet" type="text/css" href = "/static/firefly/layout.css" />
	</head>

	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
		{% load index %}

		<h1>What is Firefly?</h1>
		
		<p>
			<b>F</b>itting <b>I</b>te<b>R</b>ativ<b>E</b>ly <b>F</b>or <b>L</b>ikelihood anal<b>Y</b>sis is a full spectral fitting code using the chi-squared minimisation method. It is able to derive the stellar population properties of stellar systems, be these observed galaxy or star cluster spectra, or model spectra from simulations. For more information about firefly, please visit the <a href= "http://www.icg.port.ac.uk/firefly/" target="_blank"> ICG page. </a>
		</p>
		<h2>Process your data</h2>
		<p>
			Upload your data, choose appropiate parameters and a model to fit to the data. <b>Hover over</b> the <b>labels</b> to gain more information about each input field if you are unsure.
		</p>

		<form enctype="multipart/form-data" method = "POST">
			{% csrf_token %}

			<fieldset>
				<legend><b>Data</b></legend>

				<div class="row">
					<div class="column">
						<table>
							{% for field in SED.visible_fields %}
								<tr>
									<td>
										<div class="tooltip">
											{{ field.label_tag }}
											{% if field.help_text %}
					              				<span class="tooltiptext">{{ field.help_text }}</span>
					            			{% endif %}
					            		</div>
				            		</td>
									<td>
										{{ field }}
									</td>
								</tr>

								<b id="SED_ERROR"><font color="red">{{field.errors}}</font></b>
							{% endfor %}
						</table>
						<br>
						<b>Files selected:</b>
						<div id="fileList">No file selected</div>
						
						<div id="id_file_error"><font color="red"><b>{{file_error}}</b></font></div>
						
						<div id="test">
							<script type="text/javascript"> document.getElementById("test").style.display = 'none'; </script>
							<p>
								<b>ASCII files require additional inputs.</b>
							</p>
							<table>
								{% for field in ascii_additional_inputs.visible_fields %}
									<tr>
										<td><div class="tooltip"> {{ field.label_tag }}
											{% if field.help_text %}
					              				<span class="tooltiptext">{{ field.help_text }}</span>
					            			{% endif %}
					            		</div></td>
										
										<td>
											{{ field }}
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="column">
						Select a fits table or ascii file. For more information on how the file should be formatted, <a  href="{% url 'firefly:fits_format' %}" target="_blank"> click here</a> or you can <a  href="{% url 'firefly:download' location='example' job_id=0  %}"> download example data. </a>
					</div>
				</div>

			</fieldset>

			<fieldset>
				<legend><b>Model</b></legend>
				<div class="row">
					<div class="column">
						<table>
							{% for field in form.visible_fields %}
								<tr>
									<td>
										<div class="tooltip">
											{{ field.label_tag }}
											{% if field.help_text %}
					              				<span class="tooltiptext">{{ field.help_text }}</span>
					            			{% endif %}
					            		</div>
				            		</td>
									{{ field.errors }}
									<td>
										{{ field }}
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
					<div class="column">
						Select your model opitions to fit to your data. The model selected and parameters chosen are tailered to different types of galaxies, so if it doesn't converge then try again with another model or inputs.
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend><b>Masking Emission lines</b></legend>
				<div class="row">
					<div class="column">
						<b>Elements [Å]</b>
						<table>
							{% for field in emissionlines_form.visible_fields %}
								<tr>
									<td><div id="forms" class="tooltip"> {{ field.label_tag }}
										{% if field.help_text %}
				              				<span class="tooltiptext">{{ field.help_text }}</span>
				            			{% endif %}
				            		</div></td>
									
									<td align="right">
										{{ field }}
									</td>
								</tr>
							{% endfor %}
						</table>
						<br>
						<button id="add-all" type="button">Add all</button>
						<button id="remove-all" type="button">Remove all</button>
					</div>
					<div class="column">
						<div class="textsize">
						If your data contains emission lines, specify them as this can affect the fitting Firefly performs on your data. Simply tick the elements that apply. Click the Add-all button to automatically select all elements or deselect them with the Remove-all button.
						</div>
					</div>
				</div>
			</fieldset>
			<br>

			<button type="submit" name = "submit" id = "submit">Submit</button>

		</form>

		<script type="text/javascript">

			//Find the extra_field_count variable for emissionlines_form and make it a hidden variable
			//document.getElementById('id_extra_field_count').style.display = 'none';
			//$('label[for="id_extra_field_count"], input[name="id_extra_field_count"]').css("display","none");

			//Function to hide additional ascii inputs
			function ascii_inputs_visible(value){

				var display;
				var required;
				if (value == true){
					display = '';
					required = true;
				}
				else {
					display = 'none';
					required = false;
				}
				document.getElementById("test").style.display = display;
				document.getElementById("id_ra").required = required;
				document.getElementById("id_dec").required = required;
				document.getElementById("id_vdisp").required = required;
				document.getElementById("id_redshift").required = required;
				document.getElementById("id_r_instrument").required = required;

				//$('label[for=id_ra], input#id_ra').css("display","");
			};

			//Hide the inputs 
			ascii_inputs_visible(false);

			//Limit file type
			document.getElementById('id_input_file').setAttribute("accept", ".fits, .ascii");

			//Detect when the file input value has changed, reveal additional info if ascii file
			$('input[type=file]').change(function() {
				document.getElementById("id_file_error").style.display = 'none';

    			var fileName = $("input[type=file]").val();
    			var extension = fileName.split('.').pop();

    			var input = document.getElementById('id_input_file');//$("input[type=file]");
    			var output = document.getElementById('fileList');

    			if (input.files.length == 0) {
    				output.innerHTML = 'No files selected';
    			}
    			else {
    				if (input.files.length > 1) {
    					output.innerHTML = '<b>' + 'Total files: ' + '</b>' + input.files.length;
    				}
    				else {
    					output.innerHTML = ' ';
    				}
    				//output.innerHTML += '<ol>';
					for (var i = 0; i < input.files.length; ++i) {
						var name = '<br>' + (i + 1) + '. ' + input.files.item(i).name;
						output.innerHTML += name;
					}
					//output.innerHTML += '</ol>';
    			}

    			//Display the full filename
  				//var output = document.getElementById('fileList');
			    //output.innerHTML = '<font>' + fileName.split('\\').pop() + '</font>';

    			// returns true if the string is not empty
    			if(fileName) { 
    				if (extension == 'ascii') {ascii_inputs_visible(true);}
        			else {ascii_inputs_visible(false);}
    			} 
    			else {ascii_inputs_visible(false);}
			});

			//Get the number of emission line fields that are currently shown
			var num_fields = Number($("[name=extra_field_count]").val()) + 1;

			//When add button clicked, add an additional field
			$("#add-all").click(function() {
				
				"{% for field in emissionlines_form.visible_fields %}";
					var name = "id_" + "{{emissionlines_form.emissionline_choices|index:forloop.counter0|index:0}}"; 
					document.getElementById(name).checked = 'on';
				"{% endfor %}";

			});

			//When remove button clicked, remove an additional field.
			$("#remove-all").click(function() {
			    
			   "{% for field in emissionlines_form.visible_fields %}";
					var name = "id_" + "{{emissionlines_form.emissionline_choices|index:forloop.counter0|index:0}}"; 
					document.getElementById(name).checked = '';
				"{% endfor %}";
			});

			function model_lib_choices() {

				var model_libs_list = document.getElementById("id_model_libs");
				var model_libs_list_value =  model_libs_list.value;

				var length = model_libs_list.options.length;
				for(var i = 0; i < length; ++i) {
						model_libs_list.options[0].remove()
				}

				var model_key = document.getElementById("id_model_key");

				if (model_key.value == "m11"){
					var model_lib_choices = ["MILES", "STELIB", "ELODIE", "MARCS"];
				}
				else if (model_key.value == "MaStar"){
					var model_lib_choices = ["Theoretical", "Empirical"];
				}

				model_lib_choices.forEach(function(choice) {
					// create new option element
					var opt = document.createElement('option');
					opt.appendChild( document.createTextNode(choice) );
					opt.value = choice; 
					model_libs_list.appendChild(opt);
				}); 

				var found_selected_choice = false;
				for(var i = 0; i < model_lib_choices.length ; ++i) {
					if (model_libs_list.options[i].value ==  model_libs_list_value) {
						found_selected_choice = true;
						break;
					}
				}

				if (found_selected_choice == false) {
					model_libs_list_value = model_lib_choices[0];
				}

				model_libs_list.value = model_libs_list_value;
			}

			function imf_choices() {

				var imf_list = document.getElementById("id_imfs");
				var imf_list_value =  imf_list.value;

				var length = imf_list.options.length;
				for(var i = 0; i < length; ++i) {
						imf_list.options[0].remove();
				}

				var model_key = document.getElementById("id_model_key");

				if (model_key.value == "m11"){

					var imf_choices = ["Chabrier", "Kroupa", "Salpeter", ];
				}
				else if (model_key.value == "MaStar"){
			
					var imf_choices = ["Kroupa", "Salpeter"];
				}

				var found_selected_choice = false;
				imf_choices.forEach(function(choice) {
					// create new option element
					var opt = document.createElement('option');
					opt.appendChild( document.createTextNode(choice) );
					opt.value = choice; 
					imf_list.appendChild(opt);

				}); 

				for(var i = 0; i < imf_choices.length; ++i) {
					if (imf_list.options[i].value == imf_list_value) {
						found_selected_choice = true;
						break;
					}
				}

				if (found_selected_choice == false) {
					imf_list_value = imf_list.options[0].value;
				}
				imf_list.value = imf_list_value;
			}

			history.navigationMode = 'compatible';
			$(document).ready( function(){
    			model_lib_choices();
				imf_choices();
			});

			$("#id_model_key").change(function() {
				model_lib_choices();
				imf_choices();
			});

			$("#id_model_libs").change(function() {
				model_lib_choices();
			});

			$("#id_imfs").change(function() {
				imf_choices();
			});

		</script>
	</body>

{% endblock %}

