

<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" type="text/css" href = "/static/firefly/styles.css" />
  <link rel="stylesheet" type="text/css" href = "/static/firefly/tooltip.css" />

</head>

<body class="big">
  <header>Welcome to Firefly!</header>
  <section><p>You are: {{ manager.queue }} in the queue</p> </section>
  <section>
    <fieldset>
      <legend><b>Inputs</b></legend>

      <form enctype="multipart/form-data" method = "POST" onsubmit="; loading_message(); submit.disabled = true; return true;">

        {% csrf_token %}

        <fieldset>
          <legend><b>Model</b></legend>
        </fieldset>

        <br/>

        <fieldset>
          
          <legend>
            <div class="tooltip"> <b>SED</b>
              <span class="tooltiptext">Spectral energy distrubtion. Ascii file containing wavelength and flux arrays.</span>
            </div>
          </legend>
          
          <input type="file" name="SED" accept=".ascii">

          <div id = "error_message_SED">
            {% if error_message_SED %}
              <br/>
              <b><font color="red">{{error_message_SED}}</font></b>
            {% endif %}
          </dir>

        </fieldset>

        <br/>

        <fieldset>
          <legend><b>Preferences</b></legend>

          <br/>

          <div style="display:inline-block;">
            <label>Model key</label>
            <select id = "models_key">
              <option value = "m11">m11</option>
            </select>
          </div>

          <br/>

          <div style="display:inline-block;">
            <label>Minimium age</label>
            <input type="number" name="ageMin" value="0">
          </div>

          <br/>

          <div style="display:inline-block;">
            <label>ZMin</label>
            <input type="number" name="ZMin" value="0.001">
          </div>

          <br/>

          <div style="display:inline-block;">
            <label>ZMax</label>
            <input type="number" name="ZMax" value="10">
          </div>

          <br/> <br/>

          <div style="display:inline-block;">
            <label>model_libs</label>
            <select id = "model_libs">
              <option value = "MILES">MILES</option>
            </select>
            <div class="tooltip"> &nbsp; ? 
              <span class="tooltiptext">Model flavour</span>
            </div>
          </div>

          <br/>

          <div style="display:inline-block;">
            <label for="imf">imfs</label>
            <select id = "imfs">
              <option value = "kr">kr</option>
            </select>
            <div class="tooltip"> &nbsp; ? 
              <span class="tooltiptext">Initial mass function model</span>
            </div>
          </div>

          <br/>

          <div style="display:inline-block">
            <label>Wave medium</label>
            <select id = "wave_medium">
              <option value = "air">air</option>
              <option value = "vacuum">vacuum</option>
            </select>

            <div class="tooltip"> <label> &nbsp; ?</label> 
              <span class="tooltiptext">Specify whether data is in air or vaccum</span>
            </div>
          </div>

          <br/>

          <div style="display:inline-block">
            <label>Downgrade models</label>
            <select id = "downgrade_models">
              <option value = "true">true</option>
              <option value = "false">false</option>
            </select>

            <div class="tooltip"> &nbsp; ? 
              <span class="tooltiptext">Specify whether models should be downgraded to the instrumental resolution and galaxy velocity dispersion</span>
            </div>
          </div>

          <br/>

          <div style="display: inline-block;">
            <label>Flux units</label>
            <input type="number" name="flux_units" min="0" value="1">
            <div class="tooltip"> &nbsp; ? 
              <span class="tooltiptext">Firefly assumes flux units of erg/s/A/cm^2. Choose factor in case flux is scaled (e.g. flux_units=10**(-17) for SDSS)</span>
            </div>
          </div>

          {{form}}

          {{form.errors}}

          <br/>

          <div style="display:inline-block;">
            <label for="error">Error(%)</label>
            <input id = "error" type="number" name="error" value="10" required>
          </div>


        </fieldset>

        <br/>
        <button id = "submit"  type="submit" method = "POST" onclick="">Submit</button>

        {% if error_message %}
          {{error_message}}
        {% endif %}

      </form>

      <div id="processing_message" >
        <span>Submission sent for processing! This may take several minutes... </span>
        <span class = "loader"></span>   
      </div>

    </fieldset>
  </section>
</body>


<script type="text/javascript">
  document.getElementById("processing_message").style.display = "none";
</script>

<script>
function loading_message() {
  var pm = document.getElementById("processing_message");
  var error_message_SED = document.getElementById("error_message_SED");

  if (pm.style.display === "block") {
    pm.style.display = "none";
  } 
  else {
    pm.style.display = "block";
  }

  if (error_message_SED.stlye.display == "none") {
    error_message_SED.style.display = "block"
  }
  else {
    error_message_SED.style.display = "none";
  }
}
</script>







