{% extends 'firefly/base.html' %}

{% block content %}
	<head>
	  <link rel="stylesheet" type="text/css" href = "/static/firefly/tooltip.css" />
	  <link rel="stylesheet" type="text/css" href = "/static/firefly/layout.css" />
	</head>

	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript"> var s = 0; var m = 1;</script>

		<h1>What is Firefly?</h1>
		
		<p>
			<b>F</b>itting <b>I</b>te<b>R</b>ativ<b>E</b>ly <b>F</b>or <b>L</b>ikelihood anal<b>Y</b>sis is a full spectral fitting code using the chi-squared minimisation method. It is able to derive the stellar population properties of stellar systems, be these observed galaxy or star cluster spectra, or model spectra from simulations. For more information about firefly, please visit the ICG page.
		</p>
		<h2>Process your data</h2>
		<p>
			Upload your data, choose appropiate parameters and a model to fit to the data. Hover over the labels to gain more information about each input field if you are unsure.
		</p>

		<form enctype="multipart/form-data" method = "POST">
			{% csrf_token %}

			<fieldset>
				<legend><b>SED file</b></legend>

				<div class="row">
					<div class="column" style="left: 0px;">
						{% for field in SED.visible_fields %}
							{{field}}
							<br/><b id="SED_ERROR"><font color="red">{{field.errors}}</font></b >
						{% endfor %}

						<div id="test">
							<script type="text/javascript"> document.getElementById("test").style.display = 'none'; </script>
							<p>
								<font size="-1">ASCII files require additional inputs.</font>
							</p>
							<table>
								{% for field in ascii_additional_inputs.visible_fields %}
									<tr>
										<td><div class="tooltip"> {{ field.label_tag }}
											{% if field.help_text %}
					              				<span class="tooltiptext">{{ field.help_text }}</span>
					            			{% endif %}
					            		</div></td>
										
										<td>
											{{ field }}
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
					<div class="column">
						Select a fits table or ascii file. For more information on how the file should be formatted, <a  href="{% url 'firefly:fits_format' %}"> click here</a> or you can <a  href="{% url 'firefly:download' location='example' job_id=0  %}"> download example data. </a>
					</div>
				</div>

			</fieldset>

			<fieldset>
				<legend><b>Model</b></legend>
				<div class="row">
					<div class="column">
						<table>
							{% for field in form.visible_fields %}
								<tr>
									<td>
										<div class="tooltip">
											{{ field.label_tag }}
											{% if field.help_text %}
					              				<span class="tooltiptext">{{ field.help_text }}</span>
					            			{% endif %}
					            		</div>
				            		</td>
									{{ field.errors }}
									<td>
										{{ field }}
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
					<div class="column">
						Select your model opitions to fit to your data. The model selected and parameters chosen are tailered to different types of galaxies, so if it doesn't converge then try again with another model or inputs.
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend><b>Masking Emission lines</b></legend>
				<div class="row">
					<div class="column">
						<table>
							{% for field in emissionlines_form.visible_fields %}
								<tr>
									<td><div id="forms" class="tooltip"> {{ field.label_tag }}
										{% if field.help_text %}
				              				<span class="tooltiptext">{{ field.help_text }}</span>
				            			{% endif %}
				            		</div></td>
									
									<td>
										{{ field }}

										<script type="text/javascript"> 
											if ("{{field.label}}".includes('Emission line ')) 
											{

												if (m <= "{{emissionlines_form.extra_field_count.value}}") {++m;}
												else {

													var name = 'id_Emission_line_';
													var temp = "{{forloop.counter}}" - s;
										  			var new_name = name + temp ;

										  			$('label[for="'+new_name+'"], input[id="'+new_name+'"]').css("display","none");
										  			document.getElementById(new_name).style.display = 'none';
										  		}
											}
											else{
												++s;
											}	
										</script>
									</td>
								</tr>
							{% endfor %}
						</table>
						<button id="add-another" type="button">add</button>
						<button id="remove-another" type="button">remove</button>
					</div>
					<div class="column">
						If your data contains emission lines, specify them as this can affect the fitting Firefly performs on your data.
					</div>
				</div>
			</fieldset>
			<br>

			<button type="submit" name = "submit" id = "submit">Submit</button>

		</form>

		<script type="text/javascript">

			//Find the extra_field_count variable for emissionlines_form and make it a hidden variable
			document.getElementById('id_extra_field_count').style.display = 'none';
			$('label[for="id_extra_field_count"], input[name="id_extra_field_count"]').css("display","none");

			//Function to hide additional ascii inputs
			function ascii_inputs_visible(value){

				var display;
				var required;
				if (value == true){
					display = '';
					required = true;
				}
				else {
					display = 'none';
					required = false;
				}
				document.getElementById("test").style.display = display;
				document.getElementById("id_ra").required = required;
				document.getElementById("id_dec").required = required;
				document.getElementById("id_vdisp").required = required;
				document.getElementById("id_redshift").required = required;
				document.getElementById("id_r_instrument").required = required;

				//$('label[for=id_ra], input#id_ra').css("display","");
			};

			//Hide the inputs 
			ascii_inputs_visible(false);

			//Detect when the file input value has changed, reveal additional info if ascii file
			$('input[type=file]').change(function() {

    			var fileName = $("input[type=file]").val();
    			var extension = fileName.split('.').pop();

    			// returns true if the string is not empty
    			if(fileName) { 
    				if (extension == 'ascii') {ascii_inputs_visible(true);}
        			else {ascii_inputs_visible(false);}
    			} 
    			else {ascii_inputs_visible(false);}
			});

			//Get the number of emission line fields that are currently shown
			var num_fields = Number($("[name=extra_field_count]").val()) + 1;

			//When add button clicked, add an additional field
			$("#add-another").click(function() {

				document.getElementById("id_N_angstrom_masked").style.display = '';
				$('label[for="id_N_angstrom_masked"], input[name="'+name+'"]').css("display","");
			    var name = 'id_Emission_line_' + num_fields;
			   
			    $('label[for="'+name+'"], input[name="'+name+'"]').css("display","");

			    document.getElementById(name).options.selectedIndex = 0;
			    document.getElementById(name).style.display = '';

			    num_fields = num_fields + 1;

			    document.getElementById('id_extra_field_count').value++;
			});

			//When remove button clicked, remove an additional field.
			$("#remove-another").click(function() {
			    
			    num_fields = num_fields -1;
			    if (num_fields <= 1) {
			    	
			    	num_fields = 1; 
			    	document.getElementById("id_N_angstrom_masked").style.display = 'none';
			    	$('label[for="id_N_angstrom_masked"]').css("display","none");
			    }
			    var name_id = 'id_Emission_line_' + num_fields;

			    $('label[for="'+name_id+'"], input[name="'+name_id+'"]').css("display","none");

			    document.getElementById(name_id).options.selectedIndex = 0;
			    document.getElementById(name_id).style.display = 'none';

			    document.getElementById('id_extra_field_count').value--;
			    //console.log(document.getElementById('id_extra_field_count').value);
			});

			//var name = 'id_Emission_line_';
			//var n = document.getElementById('id_extra_field_count').value;
			//document.getElementById('id_extra_field_count').style.display = 'none'
			//$('label[for="id_extra_field_count"]').css("display","none");
			//for (var i = 1; i <= n; i++) {
  			//	console.log(i);
  			//	var new_name = name + i;
  			//	$('label[for="'+new_name+'"], input[name="'+new_name+'"]').css("display","none");
  			//	document.getElementById(name + i).style.display = 'none';
  			//};
		</script>
	</body>

{% endblock %}

