

<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" type="text/css" href = "/static/firefly/styles.css" />

</head>

{% load static %}

<body>
  <header>Welcome to Firefly!</header>
  </div>
    <section>You are: {{ manager.queue }} in the queue</section>
    <section>
      <form action = 'processing/' method = "POST" onsubmit="; myFunction(); myButton.disabled = true; return true;">

      {% csrf_token %}
    
      <button id = "myButton"  type="submit" method = "POST" onclick="">Submit</button>

      </form>
    </section>
  </div>

</body>

<div id="processing_message" >
  <section>
    <span>Submission sent for processing! This may take several minutes... </span>
    <span class = "loader"></span>
  </section>   
</div>

<script type="text/javascript">
  document.getElementById("processing_message").style.display = "none";
</script>

<script>
function myFunction() {
  var x = document.getElementById("processing_message");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>







