{% extends 'firefly/base.html' %}

{% block content %}
	<br/>
	<body>
		<meta http-equiv="refresh" content="15" />

		<header>Submission sent for <b>processing!</b></header>
		
		Your ticket number is <b>{{job_id}}</b>

		Queue length:
		<div id="processing_message" >
			<span>This may take several minutes... </span>
			<span class = "loader"></span>   
		</div>

		<link rel="stylesheet" type="text/css" href = "/static/firefly/load_message.css" />

		<img align="left" src="data:image/png;base64,{{ plot|safe }}">

	</body>

{% endblock %}

