{% extends 'firefly/base.html' %}

{% block content %}
	<br/>
	<body>
		<meta http-equiv="refresh" content="15" />

		<header>Submission sent for <b>processing!</b></header>
		
		Your ticket number is <b>{{job_id}}</b>
		<br>
		Queue length: <b>{{queue}}</b>
		<div id="processing_message" >
			<span>This may take several minutes... </span>
			<span class = "loader"></span>   
		</div>

		<link rel="stylesheet" type="text/css" href = "/static/firefly/load_message.css" />

		{% for myplot in plot %}
			<div>
				<img src="data:image/png;base64,{{ myplot|safe }}" style="display: block;">
			</div>
		{% endfor %}
	</body>

{% endblock %}

