{% load static %}

<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" type="text/css" href = "/static/firefly/styles.css" />

</head>

<body>
	<div><header>Thank you for using Firefly.</header></div>
	
	<section>
		<div>Fitting code complete!</div>

		<a href="{{ results.file.url }}" download>{{ results.file.name }}</a>
        <small>(Uploaded at: {{ results.uploaded_at }})</small>

		<div>
			<a href="/firefly/">Click here</a> to submit another request.
		</div>
	</section>
</body>